{% extends "base.html" %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <p> Ласкаво просимо до ZooHUB! Ми - команда справжніх ентузіастів і любителів тварин, які об'єдналися з однією метою – зробити життя ваших домашніх улюбленців кращим, щасливішим і комфортнішим. Наш зоомагазин пропонує найширший вибір високоякісних товарів для тварин, який ми ретельно відбираємо, керуючись принципом найвищих стандартів якості.

У ZooHUB ми віримо, що кожен улюбленець заслуговує на найкраще харчування, догляд та розваги. Наш асортимент включає різноманітні корми, вітаміни та добавки, аксесуари для догляду, іграшки, будиночки та багато іншого. Ми працюємо з провідними виробниками та намагаємось забезпечити наявність всіх необхідних товарів для вашого улюбленця.

Ми розуміємо, що кожна тварина унікальна і має свої потреби та вподобання. Саме тому наші консультанти завжди готові надати вам професійні поради та допомогу у виборі товарів, які ідеально підійдуть саме вашому улюбленцю. Наш досвід і знання дозволяють нам бути вашими надійними партнерами у питаннях догляду та утримання тварин.

ZooHUB – це більше, ніж просто зоомагазин. Ми створюємо спільноту любителів тварин, об'єднаних спільною любов'ю та турботою про своїх чотирилапих друзів. Ми організовуємо різноманітні заходи, майстер-класи та акції для наших клієнтів, щоб зробити ваше життя ще цікавішим та яскравішим. Ми прагнемо створити атмосферу, де кожен власник тварини може знайти підтримку, отримати корисні поради та дізнатися про новинки у світі зоотоварів.

Приєднуйтесь до нас у ZooHUB та відкрийте для свого улюбленця світ безмежних можливостей та турботи. Ми раді вітати вас у нашому зоомагазині та зробити все можливе, щоб ваше життя з домашніми тваринами було наповнене радістю та гармонією! {{ title }} </p>
{% endblock %}