{% extends "base.html" %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <p>BLACK FRIDAY
Прийшла довгоочікувана Чорна П'ятниця у ZooHUB! Це найбільший розпродаж року, де ви можете отримати найкращі знижки на все необхідне для ваших улюбленців. Чорна П'ятниця - це ідеальний час, щоб поповнити запаси кормів, придбати нові іграшки та аксесуари для ваших чотирилапих друзів за неймовірно вигідними цінами.

Наші клієнти мають можливість скористатися ексклюзивними пропозиціями, які доступні лише один раз на рік. Шукаєте новий лежак для свого кота? Або, можливо, нову іграшку для вашого собаки? У ZooHUB ми підготували величезний асортимент товарів з приголомшливими знижками до 70%.

Що вас чекає на Black Friday у ZooHUB:
Гігантські знижки на всі товари для собак, котів, птахів та інших домашніх тварин.

Ексклюзивні пропозиції на преміальні бренди кормів та аксесуарів.

Обмежені акції та подарунки при покупці.

Безкоштовна доставка на замовлення від певної суми.

Сюрпризи та бонуси для наших постійних клієнтів.

Не пропустіть шанс отримати все необхідне для своїх улюбленців за найвигіднішими цінами. Слідкуйте за нашими оновленнями, щоб бути в курсі всіх акцій та пропозицій Чорної П'ятниці.

Приєднуйтесь до нас у ZooHUB та зробіть це святкування Black Friday незабутнім для вас та ваших пухнастих друзів!{{ title }} </p>
{% endblock %}